<section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
       <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
       <div class="row abt-inner-agile">
          <div class="col-lg-9 col-md-9 abt-inner-left">
             <div class="row">
                <div class="col-lg-8 col-md-8 p-0">
                   <img src="https://imgur.com/r8CFSMB.jpg" class="img-thumbnail" alt="">
                </div>
                <div class="col-lg-4 col-md-4 p-0">
                   <img src="https://imgur.com/qLBTov2.jpg" class="img-thumbnail" alt="">
                   <img src="https://imgur.com/r8CFSMB.jpg" class="img-thumbnail" alt="">
                </div>
             </div>
             <div class="row">
                <div class="col-lg-4 col-md-4 p-0">
                   <img src="https://imgur.com/2I6rTuY.jpg" class="img-thumbnail" alt="">
                </div>
                <div class="col-lg-8 col-md-8 text-center about-inner-mid">
                   <h4 class="mb-lg-4 mb-md-3 mb-3">Treat yourself better</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 abt-inner-left p-0">
             <img src="https://imgur.com/wHN63Fz.jpg" class="img-thumbnail" alt="">
          </div>
       </div>
    </div>
 </section>
