<section class="service py-lg-4 py-md-3 py-sm-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
       <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">services</h3>
       <div class="row agile-service-grids-all">
          <div class="col-lg-6 col-md-6 w3layouts-service-list">
             <div class="row white-shadow mb-3">
                <div class="col-md-3 col-sm-3 col-3 white-left">
                   <span class="fas fa-gem banner-icon"></span>
                </div>
                <div class="col-md-9 col-sm-9 col-9 white-right">
                   <h4>Jewelry<br>Design</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                </div>
             </div>
             <div class="row white-shadow">
                <div class="col-md-3 col-sm-3 col-3 white-left">
                   <span class="fas fa-magic banner-icon"></span>
                </div>
                <div class="col-md-9 col-sm-9 col-9 white-right">
                   <h4>Jewelry <br>Cleaning</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                </div>
             </div>
          </div>
          <div class="col-lg-6 col-md-6  w3layouts-service-list">
             <div class="row white-shadow  mb-3">
                <div class="col-md-3 col-sm-3 col-3 white-left">
                   <span class="fas fa-golf-ball banner-icon"></span>
                </div>
                <div class="col-md-9 col-sm-9 col-9 white-right">
                   <h4>Jewelry <br>Appraisal</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                </div>
             </div>
             <div class="row white-shadow">
                <div class="col-md-3 col-sm-3 col-3 white-left">
                   <span class="fas fa-cogs banner-icon"></span>
                </div>
                <div class="col-md-9 col-sm-9 col-9 white-right">
                   <h4>Jewelry <br>Repair</h4>
                   <p>delectus reiciendis maiores alias consequatur aut.maiores alias</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
