
<!-- <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
       <div class="row agile-abt-info ">
          <div class="col-lg-6 w3layouts-left-side-img">
             <img src="/assets/images/b1.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="col-lg-5 offset-lg-1 info-sub-w3 pb-lg-3 pb-md-2 pb-2">
             <div class="jst-wthree-text">
                <h2>JEWERLY</h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                Lorem ipsum dolor sit amet, 
             </p>
             <div class="outs_more-buttn">
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
       <div class="row agile-abt-info ">
          <div class="col-lg-6 w3layouts-left-side-img">
             <img src="/assets/images/ab2.jpg" class="img-thumbnail" alt="">
          </div>
          <div class="col-lg-5 offset-lg-1 info-sub-w3 pb-lg-3 pb-md-2 pb-2">
             <div class="jst-wthree-text">
                <h2>PERFECT
                </h2>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                Lorem ipsum dolor sit amet, 
             </p>
             <div class="outs_more-buttn">
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </section> -->
 <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 py-3">Our Designs</h3>
 <div class="row">
   <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
      <img class="card-img-top" src="/assets/images/b1.jpg" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Card title that wraps to a new line</h5>
         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.
         </p>
         <div class="outs_more-buttn">
            <a href="#">Read More</a>
         </div>
      </div>
   </div>
   </div>
   
   <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
      <img class="card-img-top" src="/assets/images/ab2.jpg" alt="Card image">
      <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
            card has even longer content than the first to show that equal height action.
         </p>
         <div class="outs_more-buttn">
            <a href="#">Read More</a>
         </div>
      </div>
      </div>
   </div>
</div>