<div class="slider">
    <div class="callbacks_container">
       <ul class="rslides" id="slider4">
          <li>
             <div class="slider-img one-img">
                <div class="container">
                   <div class="slider-info ">
                      <h5>Jewelry Collection</h5>
                      <div class="bottom-info">
                         <h4 class="text-right">Turn Your Dream</h4>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <div class="slider-img two-img">
                <div class="container">
                   <div class="slider-info ">
                      <h5>Beautiful Jewelry</h5>
                      <div class="bottom-info">
                         <h4 class="text-right">New Classic Items</h4>
                      </div>
                   </div>
                </div>
             </div>
          </li>
          <li>
             <div class="slider-img three-img">
                <div class="container">
                   <div class="slider-info">
                      <h5>Unique Jewelry</h5>
                      <div class="bottom-info">
                         <h4 class="text-right">
                            Shine With Luxury
                         </h4>
                      </div>
                   </div>
                </div>
             </div>
          </li>
       </ul>
       <!-- <a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a>
       <a href="#" class="callbacks_nav callbacks1_nav next">Next</a> -->
    </div>
    <!-- This is here just to demonstrate the callbacks -->
    <!-- <ul class="events">
       <li>Example 4 callback events</li>
       </ul>-->
    <div class="clearfix"></div>
 </div>
